*

!/LICENSE
!/README.md

!/backend/package.json
!/backend/package-lock.json
!/backend/tsconfig.json
!/backend/prisma.config.ts
!/backend/src/
!/backend/prisma/

!/frontend/package.json
!/frontend/package-lock.json
!/frontend/tsconfig.json
!/frontend/vite.config.ts
!/frontend/svelte.config.ts
!/frontend/src/
!/frontend/static/
!/frontend/patches/
!/frontend/messages/
!/frontend/project.inlang/
