# .env FILES ARE ONLY USED FOR LOCAL DEVELOPMENT – USE THE CONFIG FILE FOR PRODUCTION
# The .env file is required by the Prisma CLI to work properly – In production, Apollo generates the URL based on the config file

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/apollo_dev"
