.material-icons.star,
.material-icons.folder {
    color: #f4d301;
}

.material-icons.image {
    color: #00920a;
}

.material-icons.insert_drive_file {
    color: #ffdc00;
}

.material-icons.music_note {
    color: #0090ff;
}

.material-icons.picture_as_pdf {
    color: #f00;
}
