@import "sidebar.css";

table td.fit-column,
table th.fit-column {
    width:       1px;
    white-space: nowrap;
}

/* Search Input icon */
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .material-icons {
    position:       absolute;
    padding:        10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .material-icons {
    left: 0;
}

.right-addon .material-icons {
    right: 0;
}

/* add padding  */
.left-addon input {
    padding-left: 40px;
}

.right-addon input {
    padding-right: 30px;
}

/* context menu */
.context-menu {
    background-color: #fff;
    border:           1px solid #ccc;
    box-shadow:       0 2px 4px rgba(0, 0, 0, 0.2);
    position:         absolute;
    z-index:          1000;
    max-width:        30vw;
    border-radius:    6px;
}

.context-menu ul {
    list-style-type: none;
    margin:          0;
    padding:         0;
}

.context-menu li {
    cursor:        pointer;
    padding:       3px 20px;
    border-bottom: 1px solid #ccc;
}

.context-menu li:hover {
    background-color: #eee;
}
