<!-- @formatter:off -->
<%
const validLocals = Array.isArray(locals.files) &&
                    Array.isArray(locals.breadcrumbs);

if (!validLocals) {
  throw new Error('Invalid locals passed to content-file-list.ejs.html');
}
-%>
<!-- @formatter:on -->

<h1>Dateien</h1>
<nav class="breadcrumb-nav" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <!-- @formatter:off -->
    <%
    for (let i = 0; i < locals.breadcrumbs.length; ++i) {
      const item = locals.breadcrumbs[i];

      if (i == 0) {
    %>
        <li class="breadcrumb-item">
          <a href="<%= item.frontendUrl %>"><img src="/logo.svg" style="width: 1.5rem;"></a>  <!-- TODO: make logo monochrome -->
        </li>
    <%
        continue;
      }

      if(i == locals.breadcrumbs.length - 1) {
      %>
        <li class="breadcrumb-item active" aria-current="page"><%= item.name %></li>
      <%
        continue;
      }
    %>
      <li class="breadcrumb-item"><a href="<%= item.frontendUrl %>"><%= item.name %></a></li>
    <%
    }
    %>
    <!-- @formatter:on -->
  </ol>
</nav>

<noscript>
  <form method="post" enctype="multipart/form-data">
    <input name="action" type="hidden" value="apollo-file-upload">
    <input name="value" type="file" required multiple>
    <button type="submit">Upload file</button>
  </form>
</noscript>

<table id="file-list" class="table table-responsive table-hover">
  <% if (locals.files.length <= 0) { %>
  <caption>Keine Dateien vorhanden</caption>
  <% } %>

  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" class="fit-column">Besitzer</th>
      <th scope="col" class="fit-column">Zuletzt geändert</th>
      <th scope="col" class="fit-column">Dateigröße</th>
    </tr>
  </thead>

  <tbody>
    <% locals.files.forEach(file => { %>
    <%- include('./content-file-list-item.ejs.html', {file}) %>
    <% }); %>
  </tbody>
</table>

<script>
  const fileListElement = document.getElementById('file-list');

  let insideDropZone = false;

  fileListElement.ondragover = (event) => {
    event.preventDefault();
  };
  fileListElement.ondrag = (event) => {
    event.preventDefault();

    console.log(event);
  };
  fileListElement.ondragleave = (event) => {
    event.preventDefault();

    const enteredElement = event.relatedTarget;
    const leftElement = event.target;

    if (fileListElement.contains(enteredElement)) {
      if (!insideDropZone) {
        insideDropZone = true;
        console.log('Entered file list', event);
      }
    } else if (fileListElement.contains(leftElement)) {
      insideDropZone = false;
      console.log('Left file list', event);
    }
  };

  /**
   * @param item {FileSystemEntry}
   * @param path {string}
   * @param includeEmptyDirectories {boolean}
   *
   * @return {Promise< {fullPath: string, type: 'file'|'directory', file: File|null}[] >}
   */
  async function getFiles(item, path = '', includeEmptyDirectories = true) {
    return new Promise((resolve, reject) => {
      /** @type { {fullPath: string, type: 'file'|'directory', file: File|null}[] } */
      const result = [];

      if (item.isFile) {
        item.file(file => {
          result.push({
            fullPath: `${path}${path.length === 0 ? '' : '/'}${item.name}`,
            type: 'file',
            file
          });

          resolve(result);
        }, reject);

        return;
      }

      if (item.isDirectory) {
        if (includeEmptyDirectories) {
          result.push({
            fullPath: item.fullPath.substring(1),
            type: 'directory',
            file: null
          });
        }

        const dirReader = item.createReader();
        dirReader.readEntries(async (entries) => {
          for (const entry of entries) {
            result.push(...(await getFiles(entry, `${path}${path.length === 0 ? '' : '/'}${item.name}`)));
          }

          resolve(result);
        }, reject);
        return;
      }

      reject(new Error('Given item is neither a file nor a directory'));
    });
  }

  fileListElement.ondrop = async (event) => {
    event.preventDefault();

    console.log('File(s) dropped');

    const directoriesToCreate = [];
    const formData = new FormData();
    formData.append('action', 'apollo-file-upload');

    if (event.dataTransfer.items) {
      for (let i = 0; i < event.dataTransfer.items.length; ++i) {
        const fileItem = event.dataTransfer.items[i];

        if (event.dataTransfer.items[i].kind !== 'file') {
          console.error('Skipping unsupported file type:', fileItem.kind);
          continue;
        }

        if (fileItem.webkitGetAsEntry) {
          const processedFiles = await getFiles(fileItem.webkitGetAsEntry());

          console.log(processedFiles);

          for (const processedFile of processedFiles) {
            if (processedFile.type === 'file') {
              console.log(`Adding '${processedFile.fullPath}' to upload...`);
              formData.append('value', processedFile.file, processedFile.fullPath);
            } else {
              directoriesToCreate.push(processedFile.fullPath);
            }
          }
        } else {
          const file = fileItem.getAsFile();
          console.log(`Adding '${file.name}' to upload...`);
          formData.append('value', file);
        }
      }
    } else {
      for (let i = 0; i < event.dataTransfer.files.length; ++i) {
        const file = event.dataTransfer.files[i];

        console.log(`Adding '${file.name}' to upload...`);
        formData.append('value', file);
      }
    }

    if (directoriesToCreate.length > 0) {
      console.log('Creating directories:', directoriesToCreate);

      const formData = new FormData();
      formData.append('action', 'apollo-create-directory');

      for (const directoryPath of directoriesToCreate) {
        formData.set('value', directoryPath);

        await fetch(window.location.pathname, {
          method: 'POST',
          body: formData
        })
            .then(response => {
              if (response.ok) {
                return;
              }

              response.text().then(text => {
                console.error('Server responded with error:', text);
                alert('Server responded with error: ' + text);
              });

              throw new Error(`Failed to create directory '${formData.get('value')}' [HTTP ${response.status}]`);
            })
            .catch((err) => {
              console.error(err);
              alert(err.message);
            });
      }
    }

    if (formData.has('value')) {
      await fetch(window.location.pathname, {
        method: 'POST',
        body: formData
      })
          .then(response => {
            if (response.ok) {
              console.log(`Successfully uploaded ${formData.getAll('value').length} file(s) [HTTP ${response.status}]`);
              window.location.reload();

              return;
            }

            response.text().then(text => {
              console.error('Server responded with error:', text);
              alert('Server responded with error: ' + text);
            });

            throw new Error(`Failed to upload ${formData.getAll('value').length} file(s) [HTTP ${response.status}]`);
          })
          .catch((err) => {
            console.error(err);
            alert(err.message);
          });
    } else {
      console.log('Skipped upload of 0 files');

      if (directoriesToCreate.length > 0) {
        window.location.reload();
      }
    }
  };
</script>
