<!-- @formatter:off -->
<%
const validLocals = typeof locals.file == 'object' &&
                    typeof locals.file.icon == 'string' &&
                    typeof locals.file.frontendUrl == 'string' &&
                    typeof locals.file.owner == 'string' &&
                    typeof locals.file.name == 'string' &&
                    locals.file.lastChanged instanceof Date;

if (!validLocals) {
  throw new Error('Invalid locals passed to content-file-list.ejs.html');
}
-%>
<!-- @formatter:on -->

<tr class="file-list-item" data-file-item="<%- encodeURI(JSON.stringify(locals.file)) %>">
  <td><a class="a-stealth d-block h-100 w-100" href="<%- locals.file.frontendUrl %>"><span class="material-icons icon-inline <%- locals.file.icon %>"></span> <%= locals.file.name %></a></td>
  <td class="fit-column"><%= locals.file.owner %></td>
  <td class="fit-column"><%= locals.file.size ?? '-' %></td>
</tr>
