<!DOCTYPE html>
<html lang="en">
<head>
  <!-- @formatter:off -->
  <%
  const validLocals = Array.isArray(locals.oAuthProvider);

  if (!validLocals) {
    throw new Error('Invalid locals passed to login.ejs.html');
  }
  %>
  <!-- @formatter:on -->

  <%- include('/dynamic/html-modules/head.ejs.html') -%>

  <title>Login</title>

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/login.css">
</head>

<body>
  <main>
    <div class="row g-0">
      <div class="col-5">
        <div class="login-col-left" style="">
          <div class="login-col-left-head">
            <img src="/logo.svg" alt="Apollo-Logo" style="height: 6rem; width: auto">
            <h1>Login to Apollo</h1>
          </div>

          <!-- @formatter:off -->
          <% if (locals.oAuthProvider.length > 0) { %>
            <div class="third-party-login-container">
              <h6 class="text-muted">Sign in with</h6>

              <div class="d-flex flex-wrap">
                <% for (const provider of locals.oAuthProvider) { %>
                <a class="p-2 btn btn-outline-secondary" href="<%- provider.href %>" role="button"><% _%>
                    <%_ %><img src="/icons/login/third-party/<%- encodeURIComponent(provider.id) %>.svg"
                               class="third-party-img" alt="<%= provider.displayName %>'s logo">&nbsp;<%= provider.displayName _%>
                  <%_ %></a>
                <%_ } -%>
              </div>
            </div>

            <div class="hr-section-break mt-4 mb-4">
              <span>or continue with</span>
            </div>
          <%_ } -%>
          <!-- @formatter:on -->

          <div class="first-party-login-container">
            <form method="post" enctype="application/x-www-form-urlencoded">
              <div class="form-floating mb-2">
                <input type="email" class="form-control" id="input_email" name="email" placeholder="" required>
                <label for="input_email">Email address</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="input_password" name="password" placeholder="" required>
                <label for="input_password">Password</label>
              </div>

              <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input" id="input_remember_login" name="remember_login"
                       value="checked" checked>
                <label class="form-check-label" for="input_remember_login">Remember me</label>
              </div>

              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Log in</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col d-md-none d-lg-block">
        <div class="login-col-right"></div>
      </div>
    </div>
  </main>

  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
