<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Video-Prototyp v2</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.4/swiper-bundle.min.css"
        integrity="sha512-pJrGHWDVOeiy4UkMtHu0fpD8oLLssFcaW0fsVXUkA1/jDLopa554Z1AZo5SKtekHnnmyat0ipiP0snKDrt0GNg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-notifications/3.1.3/style.min.css"
        integrity="sha512-OTW82wYvOeYGbTBnbaHnV8fiF62MbNsY+wcYvqMGANrdRAKA9U4heJkje6I0vtNNvdbic8IiKEJVzS3LH5jyQw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="/video/style.css">

  <link rel="stylesheet" href="/styles/main.css">
  <!-- TODO: Clean and merge style.css, sprax.css and video.css -->
  <link rel="stylesheet" href="/video/sprax.css">
  <link rel="stylesheet" href="/video/video.css">

  <script>
    window.ApolloData = window.ApolloData || {};
    window.ApolloData.LiveTranscode = {
      sessionId: '<%- locals.sessionId -%>'
    };
  </script>
</head>

<body>
  <div class="d-flex">
    <div class="side-menu">
      <img src="/logo.svg" alt="Apollo-Logo" width="48px" height="48px">

      <div class="side-menu-items">
        <div><span class="material-icons icon-inline side-menu-icon" role="button">search</span></div>
        <a href="/media/"><span class="material-icons icon-inline side-menu-icon side-menu-icon-active"
                   role="button">play_circle</span></a>
        <div><span class="material-icons icon-inline side-menu-icon" role="button">folder</span></div>
        <div><span class="material-icons icon-inline side-menu-icon" role="button">settings</span></div>
      </div>
    </div>

    <!-- FIXME: inline-styles prüfen -->
    <div class="ps-md-4 ps-md-3 ps-2 pe-lg-0 pe-2 pb-4" style="width: 93.3%;margin-left: auto;">
      <!-- user profile -->
      <div class="d-flex justify-content-end pt-5 pe-md-5 pe-4 pb-4">
        <a href="#" class="user_img">
          <img src="https://i.pravatar.cc/500?u=Apollo" alt="user image">
        </a>
      </div>

      <!-- A text input for a video url, dropdown for PlayerMode and a button to start the video -->
      <div class="container">
        <div class="d-flex gap-3">
          <div class="input-group">
            <select class="form-select" id="debugPlayerModeSelect">
              <option value="apollo_file" selected>Select file (native)...</option>
              <option value="live_transcode">Select file (live transcode)...</option>

              <option value="native">URL (native)</option>
              <option value="hls">HLS (URL)</option>
              <option value="youtube">YouTube</option>
              <option value="twitch">Twitch</option>
            </select>
          </div>

          <div class="input-group">
            <input type="hidden" class="form-control" placeholder="Media" id="debugVideoUrlInput">

            <div class="dropdown" style="display: none" id="debugFileSelect">
              <button class="btn btn-secondary dropdown-toggle"
                      type="button" data-bs-toggle="dropdown" aria-expanded="false">Select file...
              </button>
              <ul class="dropdown-menu"></ul>
            </div>
          </div>

          <button class="btn btn-outline-success" type="button" id="debugChangeMediaButton">Play</button>
        </div>
      </div>

      <div class="d-flex gap-3" id="debug5374890">
        <!-- TODO: tmp: video player -->
        <!-- TODO: Viel mehr mit hidden attribut statt 'd-none' arbeiten -->
        <!-- TODO: Use SVG instead of material-icons font (this also fixed the loading-img to be centered correctly) -->
        <figure class="video-player-container" id="videoContainer">
          <div class="video-player-wrapper" style="width: 100%; height: 100%">
            <video preload="metadata" controls playsinline
                   poster="<%- locals.videoFrontendUrl ?? '' %>?type=thumbnail">
              <!--          <source src="https://ftp.halifax.rwth-aachen.de/blender/demo/movies/ToS/tears_of_steel_1080p.webm"-->
              <!--                  type="video/webm">-->
              <!--          <track src="/video/TOS-en.vtt" label="English" kind="subtitles" srclang="en">-->
              <!--          <track src="/video/TOS-de.vtt" label="Deutsch" kind="subtitles" srclang="de">-->
            </video>
          </div>

          <div class="video-player-pause-overlay justify-content-start align-items-center">
            <img src="/logo.svg" alt="Apollo-Logo" width="32px" height="32px" class="image-filter-white">
          </div>

          <div class="video-player-controls d-none" data-video-player-element="player-controls">
            <!-- FIXME: Loading circle is not part of player-controls. This causes 'player-controls' and 'controls-container' to exist -->
            <span class="material-icons icon-inline icon-spinner text-white loading-img">autorenew</span>

            <div class="video-player-controls-bottom w-100" data-video-player-element="controls-container">
              <div class="parent text-white">
                <div class="div1">
                  <small class="text-white align-text-top" data-video-player-element="progress-times"></small>
                </div>

                <div class="div2 d-flex align-items-center">
                  <span role="button" class="material-icons icon-inline" data-video-player-element="button-play">play_arrow</span>
                </div>

                <div class="div3 d-flex align-items-center">
                  <div class="video-player-controls-progress-thumbnail-container" data-video-player-element="seek-thumbnail-container" style="display: none">
                    <div data-video-player-element="seek-thumbnail-image"></div>
                    <div class="video-player-controls-progress-thumbnail-time text-center" data-video-player-element="seek-thumbnail-time"></div>
                  </div>

                  <div class="video-player-controls-progress-container w-100" data-video-player-element="progress-bar">
                    <div role="progressbar"></div>
                  </div>
                </div>

                <div class="div4 d-flex align-items-center">
                  <span class="material-icons icon-inline" role="button" data-video-player-element="button-volume">volume_up</span>
                  <span class="material-icons icon-inline" role="button" data-video-player-element="button-settings">settings</span>
                  <span class="material-icons icon-inline" role="button" data-video-player-element="button-fullscreen">fullscreen</span>
                </div>

                <div class="div5 d-flex align-items-center">
                  <!-- FIXME: Three weird volume classes and data attributes -->
                  <div class="video-player-controls-volume-container d-none"
                       data-video-player-element="volume-slider-container">
                    <div class="video-player-controls-volume" data-video-player-element="volume-slider">
                      <div class="video-player-controls-volume-child"
                           data-video-player-element="volume-slider-child"></div>
                    </div>
                  </div>

                  <div class="video-player-settings-parent">
                    <div class="d-none" data-video-player-element="settings-container" style="width: 90px;max-height: 200px;overflow-y: scroll;overflow-x: clip;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </figure>

        <div id="syncedClientsContainer">
          <template>
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img src="https://placekitten.com/50/50">
              </div>
              <div class="flex-grow-1 ms-3">
                <strong data-template-content="displayName"></strong>&nbsp;<span class="material-icons icon-inline"
                                                                                 style="display: none"
                                                                                 data-template-content="superMaster">star</span><br>
                <small class="text-muted" data-template-content="currentTimes"></small>
              </div>
            </div>
          </template>

          <div id="syncedClientList" class="py-2 d-flex flex-wrap flex-column gap-3"></div>
        </div>
      </div>
      <div class="d-flex gap-5">
        <pre id="backendDebugInfo" style="display: inline-block"></pre>
        <pre id="playbackSyncDebug" style="display: inline-block"></pre>
      </div>
    </div>
  </div>

  <!-- TODO: Check if we can get rid of bootstrap-js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.bundle.min.js"
          integrity="sha512-BOsvKbLb0dB1IVplOL9ptU1EYA+LuCKEluZWRUYG73hxqNBU85JBIBhPGwhQl7O633KtkjMv8lvxZcWP+N3V3w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="/frontend/dist/runtime.js"></script>
  <script src="/frontend/dist/vendors.js"></script>
  <script src="/frontend/dist/liveTranscode.js"></script>
</body>
</html>
