@import 'colors.css';
@import 'hr-section-break.css';

nav.breadcrumb-nav {
    /* TODO: Use other svg instead of the bootstrap example */
    --bs-breadcrumb-divider: url('data:image/svg+xml,%3Csvg xmlns= "http://www.w3.org/2000/svg" width= "8" height= "8" %3E%3Cpath d= "M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z" fill= "currentColor" /%3E%3C/svg%3E');
}

.material-icons.icon-inline {
    vertical-align: bottom;
    user-select:    none;
}

.material-icons.icon-spinner {
    animation: icon-spinner 2s infinite linear;
}

@keyframes icon-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

a.a-stealth,
a.a-stealth:hover,
a.a-stealth:focus {
    color:           inherit;
    text-decoration: none;
    transition:      all .3s;
}
