/*
Generic
*/
.image-filter-white {
    filter: brightness(0) invert(1);
}


/*
Video Player
*/

.video-player-container {
    position:         relative;
    display:          inline-block;
    background-color: black;

    /* These are some bogus dimensions/units */
    aspect-ratio:     16 / 9;
    width:            40vw;
    height:           60vh;
}

.video-player-container video {
    width:  100%;
    height: 100%;
}

.video-player-pause-overlay {
    position: absolute;
    display:  none;
    top:      1rem;
    left:     1rem;
}

.video-player-container.is-paused .video-player-pause-overlay,
.video-player-container.is-loading .video-player-pause-overlay {
    display: flex;
}

.video-player-controls .loading-img {
    position:  absolute;
    display:   none;
    top:       50%;
    left:      50%;
    transform: translate(-50%, -50%);
    width:     48px;
}

.video-player-container.is-loading .loading-img {
    display: block !important;
}

.video-player-controls-bottom {
    position:         absolute;
    background-color: rgba(50, 50, 50, 0.5);
    bottom:           0;
    left:             0;
    padding:          6px;
}

.video-player-controls-progress-container {
    background-color: #6c6c6c;
    border-radius:    50px;
}

.video-player-controls-progress-container [role='progressbar'] {
    height:        12px;
    background:    transparent;
    border-radius: 50px;
    width:         100%;
}

.video-player-controls-progress-thumbnail-container {
    position:         absolute;
    bottom:           60px;
    background-color: rgba(0, 0, 0, 0.5);
}

.video-player-controls-progress-thumbnail-container [data-video-player-element='seek-thumbnail-image'] {
    background-repeat: no-repeat;
    background-size: cover;
}

.video-player-controls-progress-thumbnail-container img {
    max-width: 100%;
    height:    auto;
}

.video-player-controls-progress-thumbnail-container .video-player-controls-progress-thumbnail-time {
    color:     white;
    font-size: 12px;
}

.video-player-controls-volume-container {
    width:        24px;
    padding-left: 6px;
    margin-top:   auto;
}

.video-player-controls-volume {
    background-color: #ea2d63;
    height:           100px;
    border-radius:    50px;
    width:            8px;
}

.video-player-controls-volume-child {
    background-color: #6c6c6c;
    border-radius:    50px;
    height:           0;
}

.video-player-settings-parent {
    width:        24px;
    padding-left: 6px;
}

[data-video-player-element='button-fullscreen']:disabled {
    /* TODO: Do something if fullscreen is not supported (gray out + text on hover?) */
}

.video-player-wrapper .placeholder-text {
    color:       white;
    font-weight: bold;

    position:    absolute;
    top:         50%;
    left:        50%;
    transform:   translate(-50%, -50%);
}

/*
 * FIXME: Old stuff below - Still needed?
 */

.parent {
    display:               grid;
    grid-column-gap:       24px;
    grid-row-gap:          0;
    grid-template-columns: auto 1fr auto;
    /*grid-template-rows: repeat(2, 1fr) auto;*/
}

.div1 {
    grid-area: 3 / 2 / 4 / 3;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
    gap:       20px;
}

.div5 {
    grid-area:     1 / 3 / 2 / 4;
    gap:           20px;
    margin-bottom: 4px;
}
